body {
  background-image: linear-gradient(rgb(103, 0, 141), #5d002b);
  background-size: 1500% 1500%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

nav a:hover {
  color: #ffe8fb !important;
  text-shadow: 2px 3px 2px #9245e3
}

/* Google Font CSS */
.playwrite-au-nsw-text {
  font-family: "Playwrite AU NSW", cursive !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}